@model CCAP_Inventory_Management.Models.Incoming

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Incoming</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomingProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomingProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomnigQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomnigQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomingSupplierName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomingSupplierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomingLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomingLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomingCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomingCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomingStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IncomngProductID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
