@model IEnumerable<CCAP_Inventory_Management.Models.Products>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2>Inventory Management System</h2>
            <ul>
                <li><a href="#"><i class="fas fa-home"></i>Homepage</a></li>
                <li><a href="#"><i class="fas fa-user"></i>Product Company</a></li>
                <li><a asp-controller="Product" asp-action="Index"><i class="fas fa-address-card"></i>Inventory Incoming</a></li>
                <li><a asp-controller="OutGoing" asp-action="Index"><i class="fas fa-project-diagram"></i>Inventory Outgoing</a></li>
                <li><a asp-controller="Archive" asp-action="Index"><i class="fas fa-project-diagram"></i>Archive</a></li>
                <li><a href="#"><i class="fas fa-blog"></i>Master Records</a></li>
                <li><a href="#"><i class="fas fa-address-book"></i>Suppliers</a></li>
                <li><a href="#"><i class="fas fa-map-pin"></i>Warehouses</a></li>
            </ul>
            <div class="icon_image">
                <img class="icon" src="~/CCAP-logo-white 4.svg">
            </div>
        </div>
        <div class="main_content">
            <div class="header"><h1>Inventory Incoming</h1></div>
            <div class="info">
                <div>
                    <h4>Product Name</h4>
                    <input type="text" readonly>
                    <h4>Quantity</h4>
                    <input type="text" readonly>
                    <h4>Supplier Name</h4>
                    <input type="number" readonly>
                    <h4>Location</h4>
                    <input type="text" readonly>
                    <h4>Category</h4>
                    <input type="text" readonly>
                    <h4>Status</h4>
                    <input type="text" readonly />
                </div>

                <div class="btn">
                    <a class="InventoryButtons" asp-action="Add">Add to Inventory</a>
                </div>

            </div>

            @*<div class="search">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit">Search<i class="fa fa-search"></i></button>
                    <button type="submit">Clear<i class="fa fa-search"></i></button>
                </div>*@

            <div class="table">
                <table class="table" id="datatable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SupplierName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Location)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Category)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SupplierName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.ProductID"
                                   onclick='return confirm("Are you sure?");'>Delete</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/af-2.3.7/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/af-2.3.7/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#datatable").DataTable();
        })
    </script>
}